openmodelzoo-modelapi==2022.2.0
otx @ git+https://github.com/openvinotoolkit/training_extensions/@030e5e1e0654263b6a94d7f904c05c8b9352e31e#egg=otx
numpy>=1.21.0,<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
