openvino==2023.0
openvino-model-api==0.1.1
otx @ git+https://github.com/openvinotoolkit/training_extensions/@2cb53a7bc80c6a4d6fdd44e44c839c1c4dc84c1e#egg=otx
numpy>=1.21.0,<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
