openmodelzoo-modelapi==2022.3.0
# FIXME: to be replace by PyPI package for release
otx @ git+https://github.com/openvinotoolkit/training_extensions/@9525becdfa57dfec11931fdf76e76fe7a2563ab6#egg=otx
numpy>=1.21.0,<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
