glog==0.3.1
numpy==1.15.4
opencv-python==3.4.4.19
Pillow==5.3.0
protobuf==3.6.1
python-gflags==3.1.2
scipy==1.1.0
six==1.11.0
tensorboardX==1.4
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.1
pyyaml>=3.12
