.bd-sidebar-primary {
    /* max-height: calc(100vh - var(--pst-header-height)); */
    /* top: var(--pst-header-height); */
    border-right: 1px solid var(--spark-color-border);
    background-color: var(--spark-color-background);
    /* font-size: var(--pst-sidebar-font-size-mobile); */
}


/* .bd-sidebar-primary .nav-link {
    font-size: var(--pst-sidebar-font-size-mobile);
} */

.bd-sidebar-primary h1,
.bd-sidebar-primary h2,
.bd-sidebar-primary h3,
.bd-sidebar-primary h4 {
    color: var(--spark-color-text-base);
}

.bd-sidebar-primary .sidebar-header-items .sidebar-header-items__title {
    /* font-weight: var(--pst-sidebar-header-font-weight);
    font-size: var(--pst-sidebar-header-font-size); */
    color: var(--spark-color-text-base);
}


/* .bd-sidebar-primary .sidebar-start-items {
    border-top: 1px solid var(--spark-color-border);
} */

.bd-sidebar-primary label.toctree-toggle:hover {
    background: var(--pst-color-surface);
}

.bd-sidebar-primary label.toctree-toggle i:hover {
    color: var(--spark-color-primary);
}

nav.bd-links li>a {
    color: var(--spark-color-text-muted);
}

nav.bd-links li>a:hover {
    color: var(--spark-color-primary);
}


/* nav.bd-links li>a.reference.external:after {
    content: var(--pst-icon-external-link);
} */

nav.bd-links .active>a,
nav.bd-links .active:hover>a {
    color: var(--spark-color-primary);
}


/* nav.bd-links p.bd-links__title {
    font-size: var(--pst-sidebar-header-font-size);
    font-weight: var(--pst-sidebar-header-font-weight);
} */

nav.bd-links p.caption {
    /* font-weight: var(--pst-sidebar-header-font-weight); */
    color: var(--spark-color-text-base);
    /* font-size: var(--pst-sidebar-font-size-mobile); */
}