@import "../../../variables";

div {
  display: flex;
  flex-direction: row;
  mat-progress-bar {
    flex-grow: 1;
    align-self: center;
    width: auto;
    margin: 0 $unitSize*1 !important;
  }

}
