# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
* @samet-akcay @harimkang @vinnamkim @jaegukhyun @eugene123tw @kprokofi @chuneuny-emily @sovrasov @sungchul2 @GalyaZalesskaya @negvet @goodsong81 @yunchu @wonjuleee 
