@import "../../../variables";

.summary {
  idlp-display-field {
    margin-bottom: 20px;
  }
}

.inputs {
  margin-top: -10px;

  .mat-form-field {
    &.name {
      width: 50%;
    }

    &.build {
      width: 30%;
    }

    &.epochs {
      width: 10%;
    }
  }
}

.advanced {
  margin-right: $unitSize*3;
}

.saveAnnotatedValImages {
  padding:  $unitSize*1.5 0px;
}
