*.pyc
__pycache__
.idea/
.vscode/
*.iml

*venv*/
env
otx-workspace*
.env
.tox

.coverage

build/
dist/
*egg-info

*.pth
*.onnx
*.xml
*.bin
*.mapping

*.tar.gz
*.zip

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# python version
.python-version

# Cython generated C-code & html
src/**/*.c
src/**/*.html
src/**/*.so

# For regression test data storage
for_developers/regression_test/postgres_data/**/*
