*.pyc
__pycache__
.idea/
.vscode/
*.iml

*venv*/
env
otx-workspace*
.env
.tox
results/

data/*
.coverage
results/

build/
dist/
*egg-info

*.pth
*.onnx
*.xml
*.bin
*.mapping

*.tar.gz
*.zip

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# python version
.python-version

# Cython generated C-code & html
otx/mpa/modules/datasets/pipelines/transforms/cython_augments/*.c
otx/mpa/modules/datasets/pipelines/transforms/cython_augments/*.html
otx/mpa/modules/datasets/pipelines/transforms/cython_augments/*.so
