[submodule "cocoapi"]
	path = external/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
	ignore = dirty
[submodule "models"]
	path = external/models
	url = https://github.com/tensorflow/models.git
[submodule "external/mmdetection"]
	path = external/mmdetection
	url = ../mmdetection
[submodule "external/mmaction"]
	path = external/mmaction
	url = ../mmaction.git
[submodule "external/deep-object-reid"]
	path = external/deep-object-reid
	url = ../deep-object-reid.git
[submodule "external/bert"]
	path = external/bert
	url = https://github.com/google-research/bert
