[MASTER]
disable = arguments-differ,
          cell-var-from-loop,
          fixme,
          global-statement,
          invalid-name,
          logging-format-interpolation,
          missing-docstring,
          no-self-use,
          not-callable,
          too-few-public-methods,
          too-many-arguments,
          too-many-instance-attributes,
          too-many-locals,
          unbalanced-tuple-unpacking,
          ungrouped-imports,
          unpacking-non-sequence,
          unused-argument,
          wrong-import-order,
          attribute-defined-outside-init,
          import-outside-toplevel,
          duplicate-code,
          logging-fstring-interpolation,
          import-error,
          no-name-in-module

max-line-length = 120
ignore-docstrings = yes
ignored-modules = numpy,torch,cv2,openvino
extension-pkg-whitelist = torch,cv2

[SIMILARITIES]
ignore-imports = yes

[BASIC]
bad-functions = print
good-names = logger,fn

[DESIGN]
max-statements=60
max-branches=13
