# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/ote-maintainers

CODEOWNERS  @openvinotoolkit/ote-admins @openvinotoolkit/ote-maintainers
