recursive-include src/otx *.patch
recursive-include src/otx *.pyx
recursive-include src/otx *.yaml
recursive-include src/otx *.json
recursive-include src/otx requirements.txt
recursive-include src/otx README.md
recursive-include src/otx LICENSE
recursive-exclude src/otx *.c
graft tests
global-exclude *.py[cod]
