aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
antlr4-python3-runtime==4.9.3
astroid==3.1.0
async-timeout==4.0.3
attrs==23.2.0
blinker==1.7.0
Brotli==1.1.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.2.0
coverage==7.4.3
cryptography==42.0.5
cuda-python==12.4.0
cycler==0.12.1
databricks-cli==0.18.0
datumaro==1.6.0rc1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
docker==6.1.3
docstring-parser==0.15
entrypoints==0.4
exceptiongroup==1.2.0
filelock==3.13.1
Flask==3.0.2
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
ftfy==6.1.3
gevent==24.2.1
geventhttpclient==2.0.2
gitdb==4.0.11
GitPython==3.1.42
greenlet==3.0.3
grpcio==1.62.1
gunicorn==21.2.0
h5py==3.10.0
huggingface-hub==0.21.4
identify==2.5.35
idna==3.6
importlib-metadata==6.11.0
importlib_resources==6.1.3
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
json-stream==2.3.2
json-stream-rs-tokenizer==0.4.26
jsonargparse==4.27.1
kiwisolver==1.4.5
lxml==5.1.0
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mccabe==0.7.0
mdurl==0.1.2
mlflow==2.8.1
multidict==6.0.5
networkx==3.2.1
nibabel==5.2.1
nodeenv==1.8.0
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.9.0.80
openvino==2024.0.0
openvino-telemetry==2023.2.1
orjson==3.9.15
otx @ file:///home/yunchule/wsl-workspace/forks/training_extensions/.tox/.tmp/package/24/otx-2.0.0.tar.gz#sha256=70965316042cf785792e5761cada5356c829c0611a05707ec8efe01dac2eb8ad
ovmsclient==2023.1
packaging==23.2
pandas==2.2.1
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==2.20.0
protobuf==3.20.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==14.0.2
pycocotools==2.0.7
pycparser==2.21
pyemd==1.0.0
Pygments==2.17.2
PyJWT==2.8.0
pylint==3.1.0
pyparsing==3.1.2
pyproject-api==1.6.1
pytest==8.1.1
pytest-cov==4.1.0
pytest-csv==3.0.0
pytest-mock==3.12.0
pytest-timeout==2.3.1
python-dateutil==2.9.0.post0
python-rapidjson==1.16
pytz==2023.4
PyYAML==6.0.1
querystring-parser==1.2.4
regex==2023.12.25
requests==2.31.0
rich==13.7.1
rich-argparse==1.4.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.1.post1
scipy==1.12.0
shapely==2.0.3
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.28
sqlparse==0.4.4
tabulate==0.9.0
tensorboardX==2.6.2.2
threadpoolctl==3.3.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
tox==4.4.5
tqdm==4.66.2
tritonclient==2.43.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.1
wcwidth==0.2.13
websocket-client==1.7.0
Werkzeug==3.0.1
yarl==1.9.4
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
