.projectBackground {
    background-color: var(--spectrum-global-color-gray-100);
    background-image: url('./../../assets/background.webp');
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--spectrum-global-dimension-size-800) 0;
}

@media (max-width: 1400px) {
    .projectBackground {
        padding: var(--spectrum-global-dimension-size-300) 0;
    }
}
