<mat-menu>
  <button
    (click)="onMenuItemClick.emit('evaluate')"
    [disabled]="isEvaluateDisabled"
    mat-menu-item
  >
    <mat-icon>trending_up</mat-icon>
    <span>Evaluate</span>
  </button>
  <button
    (click)="onMenuItemClick.emit('finetune')"
    mat-menu-item
  >
    <mat-icon>timeline</mat-icon>
    <span>Fine Tune</span>
  </button>
  <button
    (click)="onMenuItemClick.emit('tensorboard')"
    [disabled]="model?.status === 'default'"
    mat-menu-item
  >
    <mat-icon>launch</mat-icon>
    <span>Tensor Board</span>
  </button>
  <button
    (click)="onMenuItemClick.emit('log')"
    [disabled]="model?.status === 'default'"
    mat-menu-item
  >
    <mat-icon>article</mat-icon>
    <span>Show Log</span>
  </button>
  <button
    (click)="onMenuItemClick.emit('showonchart')"
    *ngIf="model.status !== 'inProgress'"
    mat-menu-item
  >
    <div *ngIf="isHiddenOnChart">
      <mat-icon>visibility</mat-icon>
      <span>Show on Chart</span>
    </div>
    <div *ngIf="!isHiddenOnChart">
      <mat-icon>visibility_off</mat-icon>
      <span>Hide on Chart</span>
    </div>
  </button>
  <button
    (click)="onMenuItemClick.emit('delete')"
    [disabled]="model?.status === 'default'"
    mat-menu-item
  >
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
