cython==0.29.12
matplotlib==3.1.1
mmcv==0.2.16
networkx==2.3
numpy==1.17.5
opencv-python==4.1.0.25
ptflops==0.3
pycocotools==2.0.0
tensorboard==1.14.0
tensorboardX==1.8
terminaltables==3.1.0
torch==1.4.0
torchvision==0.5.0
