@import "../../../variables";

@mixin problem-list-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .problem-list-component {
    width: $minBodyWidth;
    padding: $unitSize*2 0;

    idlp-problem-card-item {
      margin: $unitSize;
    }
  }
}
