--trusted-host pypi.sclab.intel.com
--extra-index-url http://pypi.sclab.intel.com:8000
e2e-test-framework~=1.172.0
pillow==8.2.0
bandit
flake8
mypy
pylint
pytest
pytest-cov
coverage
flaky>=3.6.1
opencv-python==4.5.*
scikit-image==0.16.2
testfixtures>=6.14.2