@import "../../../variables";
@import "../../../mixins";

$actionPanelHeight: 80px;

@mixin problem-assets-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .problem-assets-component {
    height: 100%;

    .action-build {
      position: fixed;
      top: 13px;
      right: 72px;
      padding: 2px 16px 0 12px;
      z-index: 100;

      mat-icon {
        @include icon(20px);
        line-height: 16px;
      }
    }

    .scroll-container {
      .component-wrapper {
        width: $minBodyWidth;
        padding: $unitSize*3 0 $unitSize*2;

        fieldset {
          flex: 1 1 auto;
          padding: $unitSize $unitSize/2 $unitSize $unitSize/2;
          border: 2px solid mat-color($foreground, text);
          position: relative;
          min-width: 154px;

          legend {
            position: absolute;
            left: 0;
            top: -10px;
            height: $unitSize*2;
            background-color: mat-color($background, background);
            margin: 0 $unitSize;
            padding: 0 $unitSize;
            font-size: .9em;
            font-weight: 500;
            overflow: hidden;
            z-index: 1;
          }

          idlp-asset-card-item {
            margin: $unitSize;
          }
        }
      }
    }
  }
}
