# Description.
model_template_id: Custom_Object_Detection_YOLOX
name: YOLOX
task_type: DETECTION
task_family: VISION
instantiation: "CLASS"
summary: Class-Incremental Object Detection for YOLOX
application: ~

# Algo backend.
framework: OTEDetection v2.9.1

# Task implementations.
entrypoints:
  base: mpa_tasks.apis.detection.DetectionTrainTask
  openvino: detection_tasks.apis.detection.OpenVINODetectionTask
  nncf: mpa_tasks.apis.detection.DetectionNNCFTask
base_model_path: ../../../../mmdetection/configs/custom-object-detection/cspdarknet_YOLOX/template_experimental.yaml

# Capabilities.
capabilities:
  - compute_representations

# Hyperparameters.
hyper_parameters:
  base_path: ../configuration.yaml
  parameter_overrides:
    learning_parameters:
      batch_size:
        default_value: 4
        auto_hpo_state: POSSIBLE
      learning_rate:
        default_value: 0.0001
        auto_hpo_state: POSSIBLE
      learning_rate_warmup_iters:
        default_value: 3
      num_iters:
        default_value: 100
    algo_backend:
      train_type:
        default_value: Incremental

# Training resources.
max_nodes: 1
training_targets:
  - GPU
  - CPU

# Stats.
gigaflops: 6.5
size: 20.4
# # Inference options. Defined by OpenVINO capabilities, not Algo Backend or Platform.
# inference_targets:
#   - CPU
#   - GPU
#   - VPU
