decorator==4.4.2
numpy==1.19.1
onnxruntime==1.4.0
protobuf==3.13.0
pyyaml>=5.4.0
tensorboard==2.3.0
torch
torchvision
tqdm==4.48.2
opencv-python
scipy
positional-encodings
lmdb
fasttext
openvino-dev[onnx]==2021.4
