@use '../../shared/styles/line-clamp' as lineClamp;

.buttonsGroup {
    margin-top: var(--spectrum-global-dimension-size-100);
    border-top: var(--spectrum-alias-border-size-thick) solid var(--spectrum-global-color-gray-300);
    padding: 0;
}

.manageProjectsButton {
    color: var(--spectrum-global-color-gray-900);
    padding: var(--spectrum-global-dimension-size-275) var(--spectrum-global-dimension-size-350);

    & span[class*='spectrum-ActionButton-label'] {
        text-align: start;
        margin-left: var(--spectrum-global-dimension-size-150) !important;
    }
}

.dialog {
    & div[class*='spectrum-Dialog-grid'] {
        --spectrum-dialog-padding-x: 0;
        --spectrum-dialog-padding-y: 0;
    }

    & section[class*='Dialog-content'] {
        padding: 0;
    }
}

.selectedProjectName {
    @include lineClamp.clamp(3);
    @include lineClamp.breakableText;

    text-align: start;
    font-size: var(--spectrum-global-dimension-size-175);
    white-space: nowrap;
}

.dialogProjectName {
    @include lineClamp.clamp(2);
    @include lineClamp.breakableText;

    text-align: center;
}

.selectedProjectButton {
    display: flex;
    justify-content: flex-start;

    &::after {
        display: none;
    }
}
