@use '../../../shared/styles/line-clamp' as lineClamp;

.content {
    padding: 0 var(--spectrum-global-dimension-size-500);
}

.newProjectRow {
    height: var(--spectrum-global-dimension-size-900);

    @media (max-width: 848px) {
        height: var(--spectrum-global-dimension-size-800);
    }
}

.projectGrid {
    overflow-y: auto;
}

.card {
    --border-size: var(--spectrum-global-dimension-size-25);

    border: var(--border-size) solid var(--spectrum-global-color-gray-200);
    border-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--spectrum-global-color-gray-50);
    height: 100%;
    transition:
        background-color,
        border 0.2s ease-in-out;

    &:hover {
        background-color: var(--spectrum-global-color-gray-100);
        border-color: var(--energy-blue);
    }
}

.thumbnail {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

.thumbnailError {
    scale: 0.5;
}

.activeCard {
    border-color: var(--energy-blue);
    background-color: var(--selection-dark-blue);
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: hsl(from var(--selection-dark-blue) h s calc(l + 5));
    }

    h2 {
        color: var(--energy-blue);
    }
}

.tag {
    background-color: var(--spectrum-global-color-gray-200);
    color: var(--spectrum-global-color-gray-900);
}

.heading {
    font-size: var(--spectrum-global-dimension-font-size-700);
}

.projectCardName {
    @include lineClamp.clamp(1);
    @include lineClamp.breakableText;
}

.labelList {
    @include lineClamp.clamp(2);
}

.projectMetadata {
    line-height: var(--spectrum-global-dimension-font-size-200);
    font-size: var(--spectrum-global-dimension-font-size-50);
}

.version {
    font-size: var(--spectrum-global-dimension-font-size-75);
    color: var(--spectrum-global-color-gray-800);
}
