@import "../variables";
@import "../mixins";

:host {
  .mat-toolbar {
    min-width: $minBodyWidth;
    position: fixed;
    z-index: 100;

    .title {
      font-size: $unitSize*3.5;
      font-weight: 300;
      cursor: pointer;

      &:focus,
      &:active {
        outline: none;
      }
    }

    .navigation {
      font-size: $unitSize*2.5;

      .navigation-item {
        cursor: pointer;

        &:hover,
        &.active {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
