@import "../../../variables";

@mixin problem-info-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .problem-info-component {
    width: $minBodyWidth;
    padding: $unitSize*3 0;

    .header-text {
      .title {
        color: mat-color($primary, 400);
        font-size: $unitSize*4;
        font-weight: 600;
        line-height: 1.5;
      }

      .subtitle {
        color: mat-color($accent, 600);
        font-size: $unitSize*2.5;
        font-weight: 300;
      }
    }

    .description {
      padding-top: $unitSize*2;
      text-align: justify;
      line-height: 1.2em;
    }
  }
}
