<div
	(click)="images?.length && getNextImage()"
	[style.cursor]="images?.length > 1 ? 'pointer' : 'default'"
	class="component-wrapper">
	<div
		*ngIf="images?.length && currentImage else noImage"
		[style.backgroundImage]="'url(' + currentImage + ')'"
		[style.height]="height + 'px'"
		[style.width]="width + 'px'"
		class="carousel-image-wrapper"
	>
	</div>
</div>

<ng-template #noImage>
	<div
		fxLayout="column"
		fxLayoutAlign="center center"
		[style.height]="height + 'px'"
		[style.width]="width + 'px'"
	>
		<mat-icon class="no-image-icon">photo</mat-icon>
	</div>
</ng-template>
