pyyaml
opencv-python
numpy<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
nbmake
pytest
pytest-ordering
hpopt@git+https://github.com/openvinotoolkit/hyper_parameter_optimization@develop
openvino-telemetry>=2022.1.0