_target_: otx.core.model.module.classification.OTXClassificationLitModule

optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 1e-3
  weight_decay: 0.0

scheduler:
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true
  mode: min
  factor: 0.1
  patience: 10

# scheduler:
#   _target_: torch.optim.lr_scheduler.CosineAnnealingLR
#   _partial_: true
#   T_max: ${trainer.max_epochs}

otx_model:
  _target_: otx.core.model.entity.classification.MMPretrainCompatibleModel
  config: ???

# compile model for faster training with pytorch 2.0
torch_compile: false
