<div
  class="problem-card-item-component"
>
  <mat-card
    [style.height]="height + 'px'"
    [style.width]="width + 'px'"
  >
    <mat-card-header>
      <mat-card-title fxLayoutAlign="space-between end">
				<span
          (click)="enter.emit()"
          class="primer clickable"
        >
					{{problem.title}}
				</span>
        <mat-icon
          *ngIf="problem.type === 'custom'"
          [matMenuTriggerFor]="menu"
          class="clickable"
        >
          more_vert
        </mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        <span>{{problem.subtitle}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <div
      *ngIf="problem.type === 'generic' else carousel"
      class="clickable"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-icon
        (click)="enter.emit()"
        class="add-icon clickable"
      >add
      </mat-icon>
    </div>
    <ng-template #carousel>
      <idlp-cdk-carousel
        class="clickable"
        (click)="enter.emit()"
        [images]="problem.imagesUrls"
        [width]="width"
        mat-card-image
      >
      </idlp-cdk-carousel>
    </ng-template>
    <mat-card-content>
      {{description}}
    </mat-card-content>
  </mat-card>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button
    (click)="delete()"
    mat-menu-item
  >
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
