@import "../../../variables";
@import "../../../mixins";

@mixin problem-card-item-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .problem-card-item-component {

    .mat-card {
      position: relative;
      width: $unitSize*40;
      height: $unitSize*50;
      border-radius: 0;
      border: 2px solid mat-color($foreground, text);
      padding: 0 !important;
      box-shadow: none !important;
      background-color: mat-color($background, background);
      color: mat-color($foreground, text);

      .mat-card-header {
        width: 100%;

        .mat-card-header-text {
          margin: 0;
          width: calc(100% - #{$unitSize*4});
          height: calc(#{$unitSize*9} - (#{$unitSize} + #{$unitSize*2}));
          padding: $unitSize $unitSize*2 $unitSize*2;
          line-height: 1.25;

          .mat-card-title,
          .mat-card-subtitle {
            display: flex;
            margin: 0;
            width: 100%;
            span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
            }
          }

          .mat-card-title {
            font-size: $unitSize*3;
          }
        }
      }

      .mat-card-image {
        width: 100%;
        margin: 0;
      }

      .mat-card-content {
        text-align: justify;
        margin: 0;
        padding: $unitSize*2 $unitSize*2 $unitSize*2.5;
      }
    }

    .add-icon {
      @include icon(200px);
    }
  }

  mat-menu {
    :host {
      display: none;
    }
  }
}
