[MASTER]
disable = abstract-method,
        arguments-differ,
        assignment-from-no-return,
        attribute-defined-outside-init,
        bad-continuation,
        bad-whitespace,
        bare-except,
        chained-comparison,
        consider-merging-isinstance,
        consider-using-enumerate,
        consider-using-get,
        dangerous-default-value,
        duplicate-code,
        function-redefined,
        fixme,
        import-error,
        invalid-name,
        len-as-condition,
        misplaced-comparison-constant,
        missing-docstring,
        no-else-raise,
        no-else-return,
        no-member,
        no-name-in-module,
        no-self-use,
        no-value-for-parameter,
        not-callable,
        pointless-statement,
        protected-access,
        redefined-builtin,
        redefined-outer-name,
        reimported,
        simplifiable-if-expression,
        superfluous-parens,
        too-few-public-methods,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals,
        trailing-whitespace,
        undefined-loop-variable,
        ungrouped-imports,
        unnecessary-lambda,
        unnecessary-pass,
        unused-argument,
        unused-import,
        unused-variable,
        useless-import-alias,
        useless-object-inheritance,
        wrong-import-order

max-line-length = 160
ignore-docstrings = yes
extension-pkg-whitelist=torch,cv2,numpy