openvino==2022.3.0
openmodelzoo-modelapi==2022.3.0
ote-sdk @ git+https://github.com/openvinotoolkit/training_extensions/@c9ad4ae2a371cbce67cd7e6fb5e2c2d590c80d28#egg=ote-sdk&subdirectory=ote_sdk
numpy<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
