openvino==2022.1.0
openmodelzoo-modelapi @ git+https://github.com/openvinotoolkit/open_model_zoo/@releases/2022/SCv1.1#egg=openmodelzoo-modelapi&subdirectory=demos/common/python
ote-sdk @ git+https://github.com/openvinotoolkit/training_extensions/@565fbf682cc8a182ce67a69688f0e7b48a991696#egg=ote-sdk&subdirectory=ote_sdk
numpy<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
