openvino==2022.3.0
openmodelzoo-modelapi==2022.3.0
ote-sdk @ git+https://github.com/openvinotoolkit/training_extensions/@565fbf682cc8a182ce67a69688f0e7b48a991696#egg=ote-sdk&subdirectory=ote_sdk
numpy<=1.23.5  # np.bool was removed in 1.24.0 which was used in openvino runtime
