-r ../../external/mmdetection/requirements/build.txt
--no-cache-dir  mmpycocotools==12.0.1 
-r ../../external/mmdetection/requirements.txt
-r ../../external/mmdetection/requirements/nncf_compression.txt
opencv-python
