-r ../../external/mmdetection/requirements/build.txt
-r ../../external/mmdetection/requirements.txt
-r ../../external/mmdetection/requirements/nncf_compression.txt
opencv-python
numpy==1.19.5
mmpycocotools==12.0.3