@import 'variables';

@mixin custom-offset($offset) {
  margin-top: $offset;
  height: calc(100% - #{$offset});
}

@mixin icon($iconSize) {
  font-size: $iconSize;
  width: $iconSize;
  height: $iconSize;
  line-height: $iconSize;
}
