::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border: 0 none #ffffff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

::-webkit-scrollbar-thumb:active {
  background: #9a9a9a;
}

::-webkit-scrollbar-track {
  //background: #ffffff;
  border: 0 none #ffffff;
  border-radius: 0;
}

::-webkit-scrollbar-track:hover {
  //background: #ffffff;
}

::-webkit-scrollbar-track:active {
  background: #eeeeee;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
