@import "scrollbar";
@import "variables";
@import "mixins";
@import "theme/theme";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  &.light-theme {
    $text: map-get($mat-light-theme-foreground, text);
    $inverted-text: map-get($mat-dark-theme-foreground, text);
    $disabled-text: map-get($mat-light-theme-foreground, disabled-text);
    $background: map-get($mat-light-theme-background, background);

    color: $text;
    background-color: $background;

    .mat-menu-item[disabled] {
      .mat-icon {
        color: $disabled-text;
      }
    }

    .models-table-component {
      .mat-cell {
        &.contrast-text {
          color: $inverted-text;
        }
      }
    }
  }

  &.dark-theme {
    $text: map-get($mat-dark-theme-foreground, text);
    $background: map-get($mat-dark-theme-background, background);
    $disabled-text: map-get($mat-dark-theme-foreground, disabled-text);

    color: $text;
    background-color: $background;

    .mat-menu-item[disabled] {
      .mat-icon {
        color: $disabled-text;
      }
    }
  }
}

:focus,
:active {
  outline: none;
}

.scroll-container {
  @include custom-offset($mainToolbarHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
}

// 3rd parties hacks
@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: $mainToolbarHeight !important;
  }
}

.modebar-group:last-of-type {
  display: none !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-card-actions {
  margin: 0;
  padding: 0;
}

.mat-dialog-container {
  padding: 0 !important;

  .dialog-title {
    font-size: $unitSize*3;
    font-weight: 300;
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 24px 24px 0;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
    padding: 0 24px 10px;
  }
}
