.imgContainer {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: var(--spectrum-global-color-gray-100);
}

.img {
    display: flex;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    width: 100%;

    &:hover {
        transform: scale(1.1);
    }
}

.imgHidden {
    visibility: hidden;
}

.skeleton {
    inset: 0;
    position: absolute;
}

.videoIndicator {
    color: var(--spectrum-global-color-gray-900);
    padding: var(--spectrum-global-dimension-size-50);
    font-size: var(--spectrum-global-dimension-font-size-50);
    border-radius: var(--spectrum-alias-border-radius-regular);
    background-color: var(--spectrum-global-color-gray-50);
}
