bandit==1.7.*
flake8==3.9.*
mypy==0.812
pylint==2.7.3
pytest==6.2.*
pytest-cov==2.11.*
openmodelzoo-modelapi @ git+https://github.com/openvinotoolkit/open_model_zoo/@releases/2021/SCMVP#egg=openmodelzoo-modelapi&subdirectory=demos/common/python