name: Daily Test

on:
  workflow_dispatch: # run on request (no need for PR)
  schedule:
    # every UTC 7PM from Mon to Fri
    - cron: "0 19 * * 1-5"

jobs:
  E2E-tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: "act"
            test_args: "tests/e2e/cli/action"
          - task: "ano"
            test_args: "tests/e2e/cli/anomaly"
          # - task: "cls"
          #   test_args: "tests/e2e/cli/classification"
          # - task: "det"
          #   test_args: "tests/e2e/cli/detection"
          # - task: "iseg"
          #   test_args: "tests/e2e/cli/instance_segmentation"
          # - task: "seg"
          #   test_args: "tests/e2e/cli/semantic_segmentation"
          # - task: "visprompt"
          #   test_args: "tests/e2e/cli/visual_prompting"
    name: E2E-Test-py310-${{ matrix.task }}
    uses: ./.github/workflows/run_tests_in_tox.yml
    with:
      python-version: "3.10"
      toxenv-pyver: "py310"
      toxenv-task: ${{ matrix.task }}
      test-args: ${{ matrix.test_args }}
      timeout-minutes: 360
      upload-artifact: true
      artifact-prefix: "daily-test-results"
      runs-on: "['otx-gpu-v100-2']"
      custom-container: true
