name: Daily Test

on:
  workflow_dispatch: # run on request (no need for PR)
  schedule:
    # every UTC 7PM from Mon to Fri
    - cron: "0 19 * * 1-5"

# Declare default permissions as read only.
permissions: read-all

jobs:
  Daily-e2e-tests:
    runs-on: [self-hosted, linux, x64, dev]
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: "action"
          - task: "classification"
          - task: "detection"
          - task: "instance_segmentation"
          - task: "semantic_segmentation"
          - task: "visual_prompting"
          - task: "anomaly"
    name: E2E-Test-${{ matrix.task }}-py310
    # This is what will cancel the job concurrency
    concurrency:
      group: ${{ github.workflow }}-E2E-${{ github.event.pull_request.number || github.ref }}-${{ matrix.task }}
      cancel-in-progress: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: "3.10"
      - name: Install tox
        run: python -m pip install --require-hashes --no-deps -r .ci/tox-deps.txt
      - name: Run E2E Test
        run: tox -vv -e e2e-test-${{ matrix.task }}
      - name: Upload test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: test-result-${{ matrix.task }}
          path: .tox/e2e-test-${{ matrix.task }}.csv
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
