name: Daily Test

on:
  workflow_dispatch: # run on request (no need for PR)
  schedule:
    # every UTC 7PM from Mon to Fri
    - cron: "0 19 * * 1-5"

jobs:
  E2E-tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: "act"
            test_dir: "tests/e2e/cli/action"
          - task: "ano"
            test_dir: "tests/e2e/cli/anomaly"
          - task: "cls"
            test_dir: "tests/e2e/cli/classification"
          - task: "det"
            test_dir: "tests/e2e/cli/detection"
          - task: "iseg"
            test_dir: "tests/e2e/cli/instance_segmentation"
          - task: "seg"
            test_dir: "tests/e2e/cli/semantic_segmentation"
          - task: "visprompt"
            test_dir: "tests/e2e/cli/visual_prompting"
    name: E2E-Test-py310-${{ matrix.task }}
    uses: ./.github/workflows/run_tests_in_tox.yml
    with:
      python-version: "3.10"
      toxenv-pyver: "py310"
      toxenv-task: ${{ matrix.task }}
      tests-dir: ${{ matrix.test_dir }}
      timeout-minutes: 360
      upload-artifact: true
      runs-on: "['self-hosted', 'linux', 'x64', 'new-ci']"
