name: PR Checks

on:
  push:
    branches:
      - develop
      - releases/**
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch: # run on request (no need for PR)

# Declare default permissions as read only.
permissions: read-all

jobs:
  Code-Quality-Checks:
    # This is what will cancel the job concurrency
    concurrency:
      group: ${{ github.workflow }}-Linting-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Set up Python
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          pip install --require-hashes --no-deps -r requirements/gh-actions.txt
          pip-compile --generate-hashes -o /tmp/otx-dev-requirements.txt requirements/dev.txt
          pip install --require-hashes --no-deps -r /tmp/otx-dev-requirements.txt
          rm /tmp/otx-dev-requirements.txt
      - name: Code quality checks
        run: tox -vv -e pre-commit-all-py310-pt1
  Unit-Test:
    needs: Code-Quality-Checks
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            tox-env: "py39"
          - python-version: "3.10"
            tox-env: "py310"
    name: Unit-Test-with-Python${{ matrix.python-version }}
    # This is what will cancel the job concurrency
    concurrency:
      group: ${{ github.workflow }}-Unit-${{ github.event.pull_request.number || github.ref }}-${{ matrix.tox-env }}
      cancel-in-progress: true
    uses: ./.github/workflows/run_tests_in_tox_custom.yml
    with:
      python-version: ${{ matrix.python-version }}
      toxenv-pyver: ${{ matrix.tox-env }}
      toxenv-task: all
      tests-dir: tests/unit
      timeout-minutes: 120
      upload-artifact: true
      artifact-prefix: "unit-test-results"
      runs-on: "['otx-gpu-v100-1']"
  Coverage-Test:
    needs: Code-Quality-Checks
    concurrency:
      group: ${{ github.workflow }}-Coverage-${{ github.event.pull_request.number || github.ref }}}
      cancel-in-progress: true
    runs-on: ["otx-gpu-v100-1"]
    container:
      image: 219678651685.dkr.ecr.eu-central-1.amazonaws.com/ote-ci:pr-194-1334bef936df3b06d28bc3d1bd90e7248359b99e
      options: --runtime=nvidia --env-file=/home/runner/.nvidia.env --shm-size=24g
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Install Python
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          pip install --require-hashes --no-deps -r requirements/gh-actions.txt
          pip-compile --generate-hashes -o /tmp/otx-dev-requirements.txt requirements/dev.txt
          pip install --require-hashes --no-deps -r /tmp/otx-dev-requirements.txt
          rm /tmp/otx-dev-requirements.txt
      - name: Run unit test
        run: tox -vv -e unittest-all-py38-pt1
      - name: Upload coverage artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: coverage
          path: .tox/coverage.xml
      - name: Upload coverage reports to Codecov
        run: |
          # If the workflow is triggered from PR then it gets the commit id from the PR.
          # else it uses the commit id of the latest commit. This is because the commit
          # of the checked-out branch/commit does not exist in the tree as it is grafted.
          # Also note: GitHub does not pass secrets to pipelines triggered from a fork.
          # This means that upload will fail for PRs from forks.
          if [ -n "${{ github.event.pull_request.head.sha }}" ]
          then
            COMMIT_ID=${{ github.event.pull_request.head.sha }}
          else
            COMMIT_ID=${{ github.sha }}
          fi
          # current version of codecov-action does not support uploading reports through the proxy
          # so we use the latest version of codecov uploader binary
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -t ${{ secrets.CODECOV_TOKEN }} --sha $COMMIT_ID -U $HTTP_PROXY -f .tox/coverage.xml -F ${{ matrix.tox-env }}
  Integration-Test:
    needs: [Unit-Test, Coverage-Test]
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: "all"
            test_dir: "tests/integration/cli/test_cli.py"
          - task: "cls"
            test_dir: "tests/integration/cli/classification"
          - task: "det"
            test_dir: "tests/integration/cli/detection"
          - task: "iseg"
            test_dir: "tests/integration/cli/instance_segmentation"
          - task: "seg"
            test_dir: "tests/integration/cli/semantic_segmentation"
          - task: "act"
            test_dir: "tests/integration/cli/action"
          - task: "ano"
            test_dir: "tests/integration/cli/anomaly"
          - task: "visprompt"
            test_dir: "tests/integration/cli/visual_prompting"
    name: Integration-Test-py310-${{ matrix.task }}
    # This is what will cancel the job concurrency
    concurrency:
      group: ${{ github.workflow }}-Integration-${{ github.event.pull_request.number || github.ref }}-${{ matrix.task }}
      cancel-in-progress: true
    uses: ./.github/workflows/run_tests_in_tox.yml
    with:
      python-version: "3.10"
      toxenv-pyver: "py310"
      toxenv-task: ${{ matrix.task }}
      tests-dir: ${{ matrix.test_dir }}
      timeout-minutes: 120
      upload-artifact: true
      artifact-prefix: "intg-test-results"
