name: Weekly Test

on:
  workflow_dispatch: # run on request (no need for PR)
  schedule:
    # every 12AM on Sunday
    - cron: "0 0 * * 0"

# Declare default permissions as read only.
permissions: read-all

jobs:
  Weekly-Perf-Benchmark:
    name: Weekly-Perf-Benchmark
    uses: ./.github/workflows/perf_benchmark.yaml
    with:
      model-category: all
      data-group: all
      num-repeat: 0
      num-epoch: 0
      eval-upto: optimize
      artifact-prefix: weekly-perf-benchmark
