name: Weekly Test

on:
  workflow_dispatch: # run on request (no need for PR)
  schedule:
    # every 7PM on Sunday
    - cron: "0 0 * * 0"

jobs:
  Weekly-Tests:
    runs-on: [self-hosted, linux, x64, dev]
    timeout-minutes: 1440
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: python -m pip install -r requirements/dev.txt
      - name: Regression Tests
        run: tox -e pre-merge-all-py310 -- tests/regression
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: .tox/test-results.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
