*.log
.idea/
.vscode/
.env/
node_modules/
*.pyc
ui/yarn.lock
__pycache__
venv
data

goserver/bin
goserver/pkg
goserver/src/github.com
goserver/src/golang.org
goserver/src/gopkg.in
goserver/src/server/data
goserver/go1.*

/goserver/src/server/vendor

/nginx/media/
/filebrowser/filebrowser.db
